body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

img {
    padding: 10px;
}